<h1 class="title">{{GC.title}}</h1>
<div class="home_screen" ng-hide="GC.game_screen || GC.recall_screen">
  <div>
    <md-button ng-click="GC.game_screen = true; GC.startGame()">Start</md-button>
  </div>
  <div>
    <md-button>Rules</md-button>
  </div>
</div>
<div class="game_screen" ng-show="GC.game_screen">
  <div class="stats">
    <!-- Level could be represented by dots that range in color as they do on the tile-backgrounds -->
    <h2 class="level">Level {{GC.level}}</h2>
    <h2 class="timer">{{GC.timer}}</h2>
  </div>
  <div class="grid">
    <md-grid-list md-cols="{{GC.level + 1}}" md-gutter="1%" md-row-height="fit">
      <md-grid-tile ng-repeat="tile in GC.tileList" id="{{tile.value}}" level="{{tile.level}}">
        <p>
          {{tile.value}}
        </p>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="misses">
    <i class="material-icons" ng-repeat="num in [1,2,3,4,5]">radio_button_unchecked</i>
  </div>
  <div>
    <h3 ng-click="GC.levelUp()">Next Level</h3>
  </div>
</div>
